.calculatorTitle{
    background-color: var(--primary_color);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0.5%;
    animation: fadeInUp 1s ease-out forwards;
}
.calculatorTitle h1 {
    padding-top:1%;
    border-bottom-style:double;
    border-top-style:double;
    margin: auto;
    padding-bottom:1%;
    font-size: 50px;

    opacity: 0;
    transform: translateY(160px);
    animation: fadeInUp 0.7s ease-out forwards;
    border-width: 2px;
    margin-bottom: 1%;
}
.calculator{
    margin-bottom: -30px;
}
form {
    letter-spacing: 1px;
    max-width: 550px;
    margin: auto;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.3);

    padding: 20px;
    border-radius: 30px;
    transform: translateY(160px);
    animation: fadeInUp 1s ease-out forwards;
}
label {
    text-align: center;
    display: block;
    margin-bottom: 8px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}
/* button {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--secondary_color);
    color: white;
    padding: 10px 10px 10px;
    display: inline-block;
    letter-spacing: 2px;
    transition: background-color 0.5s, color 0.5s;
    margin-top: 1%;
} */

.energyop-dropdown{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    height: 20%;
    
}

#savingsResult {
    color: black;
}
#savingsResult {
    animation: fadeInUp 1s ease-out forwards;
}
select {
    margin-bottom: 4%;
    text-align: center;
}

#energySystem {
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
}
#electricityBill {
    width: 60%;
    margin: auto;
}

#mybuttongoat {
    margin-top: 20px;
    background-color: var(--secondary_color);
    color: white;
}
#mybuttongoat:hover {
    transform: scale(1.02);
}
#mybuttongoat:active {
    background-color: white;
}
.btn-primary {
    background-color: white; 
    border: none; 
    color: black;
    letter-spacing: 2px;
    padding: 15px;
}
.btn-primary:hover {
    background-color: var(--secondary_color); 
    color: white;
}
#disclaimer {
    font-size: 18px;
}
@media only screen and (max-width: 800px) {
    .calculatorTitle h1 {
        margin-bottom: 3%;
        font-size: 40px;
    }
    #energySystem {
        width: 75%;
    }
  }