.calculatorTitle{
    background-color: var(--primary_color);
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 100px;
}
.calculatorTitle h2{
    font-weight: bold;
    font-size: 50px;
}
.calculator{
    margin-bottom: 100px;
}
form {
    letter-spacing: 1px;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(97, 173, 53, 0.4);
    padding: 20px;
    border-radius: 30px;
    transform: translateY(160px);
    animation: fadeInUp 1s ease-out forwards;
}
label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.energyop-dropdown{
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}
#savingsResult {
    color: black;
}
