.contactBanner {
    text-align:left;
}
.contactBanner h1 {
    margin: auto;
    margin-left: 10%;
    margin-top: 5%;
    font-family: 'Raleway';
    font-size: 50px;
    letter-spacing: 2px;
    position: relative;
    width: max-content;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
}
.contactBanner h3 {
    margin: auto;
    margin-left: 10%;
    margin-top: 1%;
    font-family: 'Raleway';
    letter-spacing: 0px;
    position: relative;
    width: max-content;
    white-space: nowrap;
    animation:fadeInRight 1s ease-in-out forwards;
}

.contactBanner h1::before,
.contactBanner h1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.contactBanner h1::before{
    background: var(--primary_color);
    animation: typewriter 1.5s steps(60) 1s forwards;
}
.contactBanner h1::after{
    width: 0.125em;
    background: black;
    animation: typewriter 1.5s steps(60) 1s forwards,
        blink 1.1s steps(60) infinite;
}
@keyframes typewriter{
    to {
        left: 100%;
    }
}
@keyframes blink{
    to{
       background: transparent;
    }
}

.contactblock{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary_color);
    animation: fadeInUp 1s ease-out forwards;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftBox {
    margin-top: 10px;
    margin-right: 4%;
    background-color: var(--primary_color);
    width: 40%;
    height: 80vh;
    border-right: solid;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}
.leftBox p{
    font-size:5vw;
}
.leftBox h3{
    font-size:5vw;
}
.rightBox {
    margin-top: 10px;
    margin-left: 4%;
    background-color: var(--primary_color);
    width: 40%;
    height: 80vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}
.rightContent {
    margin-top: 30px; 
}

.custom-input-group,
.input-group,
.btn-primary,
.form-control,
#inputGroupSelect01,
#customReview {
    font-family: 'Raleway', serif !important; 
}
.custom-input-group {
    width: 100%;
    margin-bottom: 15px;
}

.custom-input-group .input-group-text {
    width: 30%;
    font-size: 1.2em;
}

.custom-input-group .form-control {
    width: 70%;
    font-size: 1.2em;
}
.custom-input-group, .input-group, .btn-primary {
    margin-bottom: 30px;
}
.input-group-text, .form-control, #inputGroupSelect01 {
    padding: 1px;
    font-size: 12px; 
}
.input-group-text, .form-control, #inputGroupSelect01 {
    padding: 14px;
    font-size: 16px; 
}


.input-group-text:first-child {
    background-color: var(--secondary_color); 
    color: white;
    letter-spacing: 1.2px;
}
.btn-primary {
    background-color: white; 
    border: none; 
    color: black;
    letter-spacing: 2px;
    padding: 15px;
}
.btn-primary:hover {
    background-color: var(--secondary_color); 
    color: white;
}
@media only screen and (min-width: 200px){
    .leftBox p{
        font-size:21px;
    }
    .leftBox h3{
        font-size:21px;
    }
}
@media only screen and (min-width: 1000px){
    .leftBox p{
        width:300px;
        margin-left:auto;
        margin-right:auto;
    }
    .leftBox h3{
        width:300px;
        margin-left:auto;
        margin-right:auto;
    }
}
@media only screen and (max-width: 900px){
    .contactIntro h1{
        font-size: 20px;
    }
    .container{
        flex-direction: column;
        width: 100%;
        margin: 0 10px;
    }
    .leftBox{
        width: 80%;
        margin-right: 0;
        margin-bottom: 5%;
        border-right: none;
        border-bottom: solid;
        padding-bottom:0px;
    }
    .rightBox{
        width: 100%;
        margin: 0;
        margin-top: 5%;
        padding: 10px;
        margin-bottom: 50px;
    }
    .hidden-content{
        margin-bottom: 50px;
        width: 90%;
    }
}

#fullPageSuccess {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary_color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
    font-size: 30px;
    color: white;
}

.message{
    width: 50%;
}
#mybuttongoat {
    background-color: var(--secondary_color);
    color: white;
}
#mybuttongoat:hover {
    transform: scale(1.02);
}
#mybuttongoat:active {
    background-color: white;
}
