/*global variables that can be used anywhere*/
/*we'll apply this css file to every single webpage within our website, for standard theme + browsing*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
    /*website color scheme colors*/
    --primary_color: #D2E3C8;/*global variables that can be used anywhere*/
/*we'll apply this css file to every single webpage within our website, for standard theme + browsing*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
    /*website color scheme colors*/
    --primary_color: #D2E3C8;
    --secondary_color: #61ad35;
    --third_color: #3a8d16;
    --fourth_color: #1F5708;

    /*contrasting colors*/
    --light_brown: #e0f9c4;

    /*text colors*/
    --text_color: black;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*main page styling*/
body {
    background-color: var(--primary_color);
    color: var(--text_color);
    text-align: center;
    background-repeat: no-repeat;
/*    background-image: linear-gradient(white, var(--primary_color));* uncomment if we want the gradient */
    height:100vh;
    font-family: 'Fira Sans'
}

/*code to create the banner*/
.banner {
    position: relative;
/*    background: url(assets/leaf_droplet_clear.jpg);  placeholder image */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(210, 227, 200, 1)), url(leaf_droplet_clear.jpg) center center fixed;
    min-height: 5vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
    color: black;
}

.col-sm-6 {
    border-bottom-style:double;
    border-top-style:double;
    margin-left:5%;
    margin-right:50%;
    padding-top:1%;
    padding-bottom:1%;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards;

}


nav {
    background-color: white;
}
    --secondary_color: #61ad35;
    --third_color: #3a8d16;
    --fourth_color: #1F5708;

    /*text colors*/
    --text_color: black;
}

/*main page styling*/
body {
    background-color: var(--primary_color);
    color: var(--text_color);
    text-align: center;
    background-repeat: no-repeat;
/*    background-image: linear-gradient(white, var(--primary_color));* uncomment if we want the gradient */
    height:100vh;
    font-family: 'Fira Sans'
}

/*code to create the banner*/
.banner {
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(210, 227, 200, 1)), url(assets/leaf_droplet_clear.jpg) center center fixed;
    min-height: 5vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
    color: black;
}


nav {
    background-color: white;
}
