/*global variables that can be used anywhere*/
/*we'll apply this css file to every single webpage within our website, for standard theme + browsing*/


@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    /*website color scheme colors*/
    --primary_color: #D2E3C8;
    --secondary_color: #61ad35;
    --third_color: #3a8d16;
    --fourth_color: #1F5708;

    /*contrasting colors*/
    --light_brown: #e0f9c4;

    /*text colors*/
    --text_color: black;
}

.loader {
    z-index:10;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary_color);
    transition: opacity 1s, visibility 0.75s;
}

.loader--hidden {
    z-index:-10;
    opacity: 0;
    visibility: hidden;

}

.loader::after {
    content: "";
    width: 150px;
    height: 150px;
    border: 7px solid #dddddd;
    border-top-color: var(--fourth_color);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn) }
    to { transform: rotate(1turn) }
}

p {
    font-size: 20px;
}

nav {
    background-color: white;
}

/*main page styling*/
body {
    background-color: var(--primary_color);
    color: var(--text_color);
    text-align: center;
    background-repeat: no-repeat;
/*    background-image: linear-gradient(white, var(--primary_color));* uncomment if we want the gradient */
    height:100vh;
    font-family: 'Raleway'
}

/*animating the banner*/
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(160px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    z-index:9;
    opacity:0;
    animation: fadeInDown 1s ease-in-out forwards;
}

/*code to create the banner*/
.banner {
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(210, 227, 200, 1)), url(assets/leaf_droplet_clear.jpg) center center fixed;
    min-height: 5vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
    color: black;
    margin-top:-10%;
}

.col-sm-6.bannertext {
    border-bottom-style:double;
    border-top-style:double;
    padding-top:1%;
    margin: auto;
    padding-bottom:1%;
    opacity: 0;
    transform: translateY(160px);
    animation: fadeInUp 0.7s ease-out forwards;
    border-width: 2px;
}

.col-sm-6.bannertext > h1 {
    font-size: 60px;
}

.aboutgreenenergy, .customerreviews, .introductiontoexploremore {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.5s ease-in-out;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    width: 70%;
    border: none;
    border-radius: 30px;
    transform: translateY(160px);
    animation: fadeInUp 1s ease-out forwards;
}

.aboutgreenenergy:hover,.customerreviews:hover,.introductiontoexploremore:hover {
    background-color: rgba(255, 255, 255, 1);
}

.customerButton {
    background-color: rgba(146, 202, 149, 0.3);
    transition: background-color 0.5s ease-in-out;
    border:none;
    border-radius:10px;
}

.customerButton:hover {
    background-color: rgba(146, 202, 149, 1);
}

.carousel {
    margin:auto;
    width:100%;
}
.carousel-control-prev {
    background-color:  var(--secondary_color); 
    height:10%;
    margin-top: 40px;
    margin-left: 5%;
    border-radius: 10px;
}
.carousel-control-next {
    background-color:  var(--secondary_color); 
    height:10%;
    margin-top: 40px;
    margin-right: 5%;
    border-radius: 10px;
}
.carousel-item {
    height: 350px; 
    margin-top: 30px;
}
.card {
    height: 350px; 
    display:flex;
    align-items:center;
}
.flex-container {
    display: flex;
}
.left-half,
.right-half {
    flex: 1;
}
.card img{
    height: 80%;
    width: 80%;
}
.card p{
    margin-top:5%;
}

/*option card styling*/

.c1 {
    background-image: url(assets/solarpaneloption.png);
    background-size: cover;
    background-position: center;
}

.c2 {
    background-image: url(assets/geothermalheatoption.jpeg);
    background-size: cover;
    background-position: center;
}

.c3 {
    background-image: url(assets/profile_pic.jpg);
    background-size: cover;
    background-position: center;
}

.c4 {
    background-image: url(assets/profile_pic.jpg);
    background-size: cover;
    background-position: center;
}

.cbopt1,.cbopt2,.cbopt3,.cbopt4 {
    color: black;
    opacity: 0;
    transition-duration: 1s;
    border-radius: 20px;
}

.cbopt1:hover, .cbopt2:hover, .cbopt3:hover,.cbopt4:hover {
    opacity: 1;
    background-color: white;
}


.c1,.c2,.c3,.c4 {
    height: 15rem;
    border-radius: 20px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: var(--secondary_color);
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: var(--fourth_color);
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: var(--fourth_color);
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: var(--third_color);
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
