@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(160px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-160px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.banner {
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(210, 227, 200, 1)), url(assets/solarpanelbanner.png) center center fixed;
    min-height: vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
    color: black;
    margin-top:-8%;
}
.col-sm-8.bannertext {
    padding-top:1%;
    border-bottom-style:double;
    border-top-style:double;
    margin: auto;
    padding-bottom:1%;
    opacity: 0;
    transform: translateY(160px);
    animation: fadeInUp 0.7s ease-out forwards;
    border-width: 2px;
}
.col-sm-8.bannertext > h1 {
    font-size: 60px;
}
.col-sm-8.bannertext > p {
    font-size: 30px;
}
/* Overview Section */
.overview {
    background-color: #d2e3c8; /* Set the background color for the overview section */
    position: relative;
}

/* Recommendation Section */
.reccomendationsection {
    background: linear-gradient(to bottom, #d2e3c8, white); /* Set the background gradient, remove the middle one if we want smth less gradual/faster transition */
    position: relative;
}

img {
    border-radius: 30px;
    /* margin-top: 20%; */
}

.introtofinancingpricing, .pricingandfinancing {
    background-color: white;
}
