.banner {
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(210, 227, 200, 1)), url(assets/leaf_droplet_clear.jpg) center center fixed;
    min-height: vh;
    background-size: cover;
    background-position: center;
    padding: 120px 0 50px;
    color: black;
    margin-top:-4%;
}

.col-sm-6.bannertext {
    border-bottom-style:double;
    border-top-style:double;
    padding-top:1%;
    margin: auto;
    padding-bottom:1%;
    opacity: 0;
    transform: translateY(160px);
    animation: fadeInUp 0.7s ease-out forwards;
    border-width: 2px;
}
.col-sm-6.bannertext > h1 {
    font-size: 60px;
}
.aboutstatements, .sourcecitations, .documentationinfo {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.5s ease-in-out;
    word-wrap: break-word; /* Ensures long words break to the next line */
    white-space: normal; /* Allows text to wrap normally */
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    width: 70%;
    border: none;
    border-radius: 30px;
    transform: translateY(160px);
    animation: fadeInUp 1s ease-out forwards;
}

@media (max-width: 576px) {
    .sourcecitations p{
        font-size: 0.5rem;
    }
  }

.aboutstatements:hover,  .sourcecitations:hover, .documentationinfo:hover {
    background-color: rgba(255, 255, 255, 1);
}

p2 {
    font-size: 0.85em;
  }