.carousel {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 20px auto;
    position: relative;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 25%;
    text-align: center;
    padding: 10px;
}
.carousel-item img {
    max-width: 100%;
    border-radius: 50%;
}
.carousel-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: var(--text_color);
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.carousel-buttons button {
    background-color: var(--secondary_color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.carousel-buttons button:hover {
    background-color: var(--third_color);
}

.opportunities {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--light_brown);
}
.dropdown {
    margin-right: 20px;
}
.dropdown label {
    font-size: 1rem;
    margin-right: 10px;
}
.dropdown select {
    padding: 5px;
    font-size: 1rem;
}
.careers {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    max-width: 400px;
}
.careers h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.careers .job {
    margin-bottom: 15px;
}
.careers .job button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: var(--secondary_color);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.careers .job button:hover {
    background-color: var(--third_color);
}